/*  Jim O'Neill's Portfolio
    Theme updates based on Folio by Matt Downey
    https://mattdowney.gumroad.com/l/folio-template
*/

/* 
  Reference
------------------------------

  Page BG color:      #0E0F13;
  Text color:         rgba(247, 246, 251, 0.75);
  Headings color:     #F7F6FB;

------------------------------*/

/* 
  Typography 
------------------------------*/

/* Improve contrast of text */
p, a, p a, ul, ul li {
  color: rgba(247, 246, 251, 0.75) !important;
}

/* Uncapitalize H3 */
h3 {
  text-transform: none !important;
}


